@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Roboto:ital,wght@1,300;1,400;1,500;1,700&display=swap');

body {
    font-family:'Roboto','Noto Sans TC',sans-serif!important;
}
.container {
    max-width: 1200px;
    margin:auto;
    text-align:center;
}
img {
    vertical-align: middle;
}
a {
    // display: block;
    text-decoration: none;
}
h2 {
    font-size: 64px;
    line-height: 84px;
    font-style: italic;
    margin-bottom: 20px;
}
.sub-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
}
section {
    padding-top: 56px;
    padding-bottom: 56px;
}

.op {
    height: 100vh;
    overflow: hidden;
    background: url(../img/banner.png) no-repeat;
    background-size: cover;
    background-position: center center;
    // padding-top:50%;

    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
        width: 304px;
        text-align: left;
        h1 {
            font-size: 80px;
            line-height: 106px;
            font-weight: 700;
            font-style: italic;
        }
        ul {
            display: flex;
            justify-content: space-between;
            margin-top: 40px;
        }
    }

}

.about {
    img {
        margin-bottom: 20px;
    }
    ul {
        li {
            font-size: 24px;
            line-height: 36px;
            font-weight: 700;
            margin-bottom: 8px;
        }
    }
    ul.text-experience {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        li {
            margin-bottom: 28px;
            position: relative;
            &::before {
                display: inline-block;
                position: absolute;
                content: " ";
                left: -33px;
                top: 6px;
                width: 22px;
                height: 22px;
                background-color: #891818;
                border-radius: 50%;
            }
        }
    }
    .line {
        width: 384px;
        height: 1px;
        background-color: #000;
        margin: auto;
        margin-top: 24px;
        margin-bottom: 28px;
    }
}

.brand {
    background-color: #000;
    color: #fff;
    p {
        font-size: 20px;
        line-height: 30px;
        margin-top: 32px;
        margin-bottom: 68px;
    }
    .brand-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 104px;
        img {
            &:nth-child(1) {
                margin-bottom: 40px;
            }
            &:nth-child(2) {
                margin-right: 24px;
            }
        }
    }
}

.work {
    padding-bottom: 0px;
    .work-list {
        background: url(../img/photo-1561291386-5be50364cfb5.png) center no-repeat;
        background-size: cover;
        padding-bottom: 118px;
        ul{
            display: flex;
            &:nth-child(1) {
                margin-top: -80px;
            }
            li+li {
                margin-left: 24px;
            }
        }
    }
    p {
        font-size: 20px;
        line-height: 42px;
        margin-top: 16px;
        margin-bottom: 128px;
    }

}

footer {
    padding-top: 64px;
    padding-bottom: 64px;
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 24px;
    line-height: 36px;
    a {
        color: #fff;
        transition:.3s;
        &:hover {
            opacity: .8;
            transition:.3s;
        }
    }
    li+li {
        margin-top: 16px;
    }
}